body{
    text-align: center;
    background-image: radial-gradient(rgb(200, 225, 255), rgb(255, 230, 190));
}

h1 {
        background-color: #0088dd;
        padding: 30px
}
p {
    width: 200px;
    height: 200px;
    background-color: #bbbbaa;
    padding: 10px
}